parameters:
    level: max
    paths:
        - src
    excludePaths:
        - tests/*
        - stubs/fastcsv.php
    stubFiles:
        - stubs/fastcsv.php
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        - 
            message: '#Call to an undefined method PhpCsFixer\\ConfigInterface::setParallelConfig\(\)#'
            path: .php-cs-fixer.php